@font-face {
    font-family: 'Abril_Fatface';
    src: url('/font/Abril_Fatface/AbrilFatface-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'EduTASBeginner-Bold';
    src: url('/font/Edu_TAS_Beginner/static/EduTASBeginner-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 236, 236);

}

header {
    display: flex;
    width: 95%;
    background-color: #adbbbe;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 8px;
    border-radius: 15px;
}

header img {
    width: 8em;
}

header p {
    font-family: Abril_Fatface;
}


ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 15px;
    font-family: Impact;
}

nav li a {
    font-weight: bold;
    text-decoration: none; 
    color: #152736;
    font-size: 1.6em;
    transition: 500ms all;
}

nav li a:hover {
    font-weight: bold;
    text-decoration: none; 
    color: #152736;
    font-size: 1.7em;
    background-color: #E2ECEC;
    padding: 8px;
    border-radius: 15px;
    transition: 500ms all;
}


section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.welcome {
    width: 80%;
    max-width: 900px;
    background-color: #adbbbe;
    padding: 12px 12px 30px 12px;
    margin-top: 8em;
    margin-bottom: 5em;
    border-radius: 15px;
    
}



.welcome h1 {
    font-family:Abril_Fatface ;
    font-weight: 300;
    font-size: 4em;
    color: #152736;
    text-align: center;
}

.welcome p {
    width: 60%;
    height: 100%;
    font-size: 1.7em;
    font-family:EduTASBeginner-Bold;
    font-weight: 100;
    color: #152736;
}

.welcome img {
    height: auto;
    width: 30%;
    border-radius: 15px;
    border: #152736 solid 4px;
    margin-left: 20px;
}

.fix_welcome {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 
}


.habilidades {
    width: 70%;
    
    background-color: #adbbbe;

    margin-top: 5em;
    margin-bottom: 5em;
    border-radius: 15px;
    margin: auto;
    
}





footer {
    background-color: #ADBBBE;
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
    width: 85%;
    margin: auto;
}

footer a {
    font-weight: bold;
    text-decoration: none; 
    color: #152736;
    font-size: 1.6em;
}